---
import { Image } from "astro:assets";

interface Props {
	name: string;
	href: URL | string;
	logo: {
		src: string;
		class: string;
		width: number;
		height: number;
	};
}

const { name, logo, href } = Astro.props;
---

<a
	class="flex flex-col border-2 border-white rounded-3xl p-5 md:p-10 col-span-2 justify-between"
	href={href}
>
	<p class="text-2xl md:text-4xl">{name}</p>
	<Image width={logo.width} height={logo.height} src={logo.src} alt={name} class:list={[logo.class, "self-end w-fit"]} />
</a>
